.settings-edit-profile {
  margin-left: 20%;
}

.settings-edit-profile input {
  width: 250px;
  height: 50px;
  margin-right: 4vw;
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

.settings-edit-profile input::placeholder {
  padding-left: 30px;
  font-size: 13px;
}
.settings-edit-profile button {
  height: 50px;
  width: 250px;
  background-color: aquamarine;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.settings-edit-profile button:hover {
  background-color: rgb(53, 226, 169);
}
.settings-edit-profile form {
  display: flex;
  flex-wrap: wrap;
}
.settings-mentor-div {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
}
.settings-edit-profile button {
  margin-top: 5vh;
}
